.carousel.slide(id='myCarousel' data-ride='carousel')
  <!-- Wrapper for slides -->
  .carousel-inner(role='listbox')
    each photo, index in model
      if index == 0
        .item.active
          img(src=`../public/assets/images/${photo.imageUrl}` alt=`${photo.title}`)
          .carousel-caption.d-none.d-md-block
            h3 #{photo.title}
      else
        .item
          img(src=`../public/assets/images/${photo.imageUrl}` alt=`${photo.title}`)
          .carousel-caption.d-none.d-md-block
            h3 #{photo.title}

  <!-- Left and right controls -->
  a.left.carousel-control(href='#myCarousel' role='button' data-slide='prev')
    span.sr-only Previous
  a.right.carousel-control(href='#myCarousel' role='button' data-slide='next')
    span.sr-only Next

  <!-- Indicators -->
.carousel-indicators
  each photo, index in model
    .background-image
        img.img-responsive(data-target='#myCarousel' data-slide-to=index src=`../public/assets/images/${photo.imageUrl}` alt=`${photo.title}`)
