extends _common/layout

block stylesheet
  link(rel='stylesheet', href='../public/css/style.css')

block content
  .carousel.slide(id="myCarousel" data-ride="carousel")
    <!-- Wrapper for slides -->
    .carousel-inner(role="listbox")
        each book,index in model
          if index === 0
             .item.active
                img(src=`../public/assets/images/${book.imageUrl}` alt=`${book.title}`)
                .carousel-caption.d-none.d-md-block
                    h3 #{book.title}
          else
            .item
                img(src=`../public/assets/images/${book.imageUrl}` alt=`${book.title}`)
                .carousel-caption.d-none.d-md-block
                    h3 #{book.title}

    <!-- Left and right controls -->
    a.left.carousel-control(href="#myCarousel" role="button" data-slide="prev")
        span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
        span.sr-only Previous
    a.right.carousel-control(href="#myCarousel" role="button" data-slide="next")
        span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
        span.sr-only Next

    <!-- Indicators -->
    .carousel-indicators
      each book,index in model
        .background-image
          img(data-target="#myCarousel" data-slide-to=index src=`../public/assets/images/${book.imageUrl}` alt=`${book.title}`)

  .content
    .article
      .header-article
        img(src="../public/assets/icons/offer.png", alt="What We Offer")
        h4 What We Offer
      p.text Rhoncus quis, varius sed velit. Mauris quis nunc eu nunc molestie egestas et sit amet odio. Morbi lacinia velit in nibh sodales sed pharetra sem feugiat. Vivamus ut cursus augue. Integer sit amet arcu lorem, at egestas tellus. Phasellus tellus orci, congue at tristique at, mattis ut arcu. Donec dictum eros eu felis laoreet egestas. Nullam adipiscing nibh id felis lacinia a iaculis nisi vestibulum. Ut sit amet urna enim, at accumsan quam. Nunc dui elit, hendrerit quis convallis sit amet, dapibus in metus. Ut dolor est, blandit a auctor vitae, accumsan id eros. Vivamus bibendum dolor eget lacus hendrerit et egestas risus tincidunt. Vivamus convallis magna sit amet orci vehicula suscipit. Quisque rhoncus lorem in ligula condimentum sollicitudin at a massa. Donec mattis, libero at euismod semper, magna est bibendum arcu, sit amet tempor lacus mi nec felis. Vestibulum erat ante, laoreet et dignissim ac, blandit dictum elit. Cras auctor iaculis mi at blandit. Fusce id velit metus. Duis turpis ante, consequat a hendrerit nec, biben
      .bottom-article
        a.link(href="#") Read More
    .article
      .header-article
        img(src="../public/assets/icons/identity.png", alt="Who We Are")
        h4 Who We Are
      p.text Rhoncus quis, varius sed velit. Mauris quis nunc eu nunc molestie egestas et sit amet odio. Morbi lacinia velit in nibh sodales sed pharetra sem feugiat. Vivamus ut cursus augue. Integer sit amet arcu lorem, at egestas tellus. Phasellus tellus orci, congue at tristique at, mattis ut arcu. Donec dictum eros eu felis laoreet egestas. Nullam adipiscing nibh id felis lacinia a iaculis nisi vestibulum. Ut sit amet urna enim, at accumsan quam. Nunc dui elit, hendrerit quis convallis sit amet, dapibus in metus. Ut dolor est, blandit a auctor vitae, accumsan id eros. Vivamus bibendum dolor eget lacus hendrerit et egestas risus tincidunt. Vivamus convallis magna sit amet orci vehicula suscipit. Quisque rhoncus lorem in ligula condimentum sollicitudin at a massa. Donec mattis, libero at euismod semper, magna est bibendum arcu, sit amet tempor lacus mi nec felis. Vestibulum erat ante, laoreet et dignissim ac, blandit dictum elit. Cras auctor iaculis mi at blandit. Fusce id velit metus. Duis turpis ante, consequat a hendrerit nec, biben
      .bottom-article
        a.link(href="#") Read More
    .article
      .header-article
        img(src="../public/assets/icons/mission.png", alt="Our Mission")
        h4 Our Mission
      p.text Rhoncus quis, varius sed velit. Mauris quis nunc eu nunc molestie egestas et sit amet odio. Morbi lacinia velit in nibh sodales sed pharetra sem feugiat. Vivamus ut cursus augue. Integer sit amet arcu lorem, at egestas tellus. Phasellus tellus orci, congue at tristique at, mattis ut arcu. Donec dictum eros eu felis laoreet egestas. Nullam adipiscing nibh id felis lacinia a iaculis nisi vestibulum. Ut sit amet urna enim, at accumsan quam. Nunc dui elit, hendrerit quis convallis sit amet, dapibus in metus. Ut dolor est, blandit a auctor vitae, accumsan id eros. Vivamus bibendum dolor eget lacus hendrerit et egestas risus tincidunt. Vivamus convallis magna sit amet orci vehicula suscipit. Quisque rhoncus lorem in ligula condimentum sollicitudin at a massa. Donec mattis, libero at euismod semper, magna est bibendum arcu, sit amet tempor lacus mi nec felis. Vestibulum erat ante, laoreet et dignissim ac, blandit dictum elit. Cras auctor iaculis mi at blandit. Fusce id velit metus. Duis turpis ante, consequat a hendrerit nec, biben
      .bottom-article
        a.link(href="#") Read More
  .quote-wrapper
    img(src="../public/assets/images/quote.png", alt="Quote")
    p.quote Vivamus id feugiat ligula. Nulla facilisi. Integer lacus justo, elementum eget consequat a, molestie nec sapien. Quisque tincidunt, nunc vitae adipiscing
    .quote-button
      p.button Additional Info
  .gallery
    .gallery-img
      img(src="../public/assets/images/book.jpg", alt="")
    .gallery-img
      img(src="../public/assets/images/book.jpg", alt="")
    .gallery-img
      img(src="../public/assets/images/book.jpg", alt="")
    .gallery-img
      img(src="../public/assets/images/book.jpg", alt="")
    .gallery-img
      img(src="../public/assets/images/book.jpg", alt="")
    .gallery-img
      img(src="../public/assets/images/book.jpg", alt="")
    .gallery-img
      img(src="../public/assets/images/book.jpg", alt="")
    .gallery-img
      img(src="../public/assets/images/book.jpg", alt="")
    .gallery-img
      img(src="../public/assets/images/book.jpg", alt="")
    .gallery-img
      img(src="../public/assets/images/book.jpg", alt="")